{% if section.blocks.size > 0 %}

  <div class="page-width">

    <div class="grid-item">

      {% include 'snippet_logo_list' %}

    </div>

  </div>

{% endif %}

{% schema %}
  {
    "name": "City One Logos",
    "class": "page-section",
    "max_blocks": 20,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "City One Logos"
      }
    ],
    "blocks": [
      {
        "type": "logo_image",
        "name": "Logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link",
            "info": "Optional"
          }
        ]
      }
    ]
  }
{% endschema %}
