{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="page-width">

	<div class="grid small-reverse medium-reverse">

		<div class="grid__item shop__sidebar large-up--two-twelfths small--hide medium--hide">
			{% section 'sidebar-shop' %}
		</div>

		<div class="grid__item large-up--ten-twelfths">
			{% section 'collection-template' %}
		</div>

	</div>

</div>

{% section 'quotes-collection' %}
