{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

<div class="page-width">

	<div class="grid">

		<div class="grid__item one-whole">
			{% section 'collection-list-template' %}
		</div>

	</div>

</div>