<div class="grid">

	<div class="grid__item medium-up--one-whole">

		{% section 'host-template' %}

		{% section 'logo-bar-city-1' %}

		{% section 'host-city-1-blog' %}

		{% section 'logo-bar-city-2' %}

		{% section 'host-city-2-blog' %}

		{% section 'logo-bar-city-3' %}

		{% section 'host-city-3-blog' %}

		{% section 'logo-bar-city-4' %}

		{% section 'host-city-4-blog' %}

		{% section 'host-bottom-template' %}

	</div>

</div>