<div class="page-width">
	<div class="grid">
		<div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">

			{% section 'page-template' %}

			<div class="rte rte-setting text-justify">
				{{ page.content }}
			</div>

		</div>
	</div>
</div>