{% comment %}
  The contents of the page.roster.liquid template can be found in /sections/roster-template.liquid
{% endcomment %}

<div class="page-width">

	<div class="grid">

	    <div class="grid__item one-whole">
	      {% section 'archive-template' %}
		</div>

	</div>

</div>
